*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: "Quicksand", sans-serif;
}
.container{
    
    max-width: 1100px;
    margin: auto;
}
.p-text{
    color: #e4b95b;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}

.lover-span{
    color: #e4b95b;
}
.btn{
    display: inline-block;
    border: none;
    border-radius: 15px;
    padding: 15px 30px;
}
.btn-p{
    color: white;
    border: 1px solid #fff;
}
.btn-p:hover , .btn-sc:hover{
    background-color: #e4b95b;
}
.btn-sc{
    color: white;
    background-color: #383848;
    margin-top: 25px;
   
}

header{
    height: 100vh;
    background: url("./images/home_bg.jpeg") center center/cover no-repeat; 
    position: relative;
}

#navbar img{
    width: 80px;
    margin-left: 100px;
}

#navbar{
    
    display: flex;
    justify-content: space-between;
    align-items: center;

}
#navbar ul {
    display: flex;
    margin-right: 100px;
}
#navbar ul li a{
    padding: 10px 20px;
    color: white;
    font-weight: 600;
}
#navbar ul li a:hover{
    border-bottom: 2px solid #e4b95b;

}
header .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    height: 75%;
}

header .content h1{
    font-size: 40px;
    color: white;

}
header .content p{
    margin: 20px 0 40px;
    color: white;
}
header::before{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color:rgb(0, 0, 0 , .5) ;
    

}
header *{
    z-index: 10;
}

#about{
    padding-top: 30px;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f4f4f4;
}

#about .title{
    text-align: center;
    margin-bottom: 4rem;
}
#about .title h2{
    font-size: 40px;
    color: #383848;
    margin-bottom: 20px;
}

#about .title p{
    font-size: 14px;
    color: #9a9a9a;
    font-weight: 600;
}
#about .about-content{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

#about .about-content img{
    width: 450px;
}
#about .about-content p{
    color: #9a9a9a;
    margin-right: 7rem;
    font-weight: 500;
    line-height: 1.6;
    text-indent: 0px;
    text-align: justify;
    
}

#offers{
    margin-top: 50px;
    padding-top: 80px;
    background: url('./images/offer-background.jpg') center center/cover fixed;
    
}
#offers .title{
    text-align: center;
    margin-bottom: 4rem;
}
#offers .title h2{
    font-size: 40px;
    color:#e4b95b;
    margin-bottom: 20px;
}

#offers .title p{
    font-size: 14px;
    color: #fff;
    font-weight: 600;
}
#offers .offers-items{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    color: #fff;
   
}
#offers .offers-items img{
    width: 200px;
}
#offers .offers-items h3{
    font-size: 25px;
    margin: 15px 0;
}
#offers .offers-items p{
    font-size: 14px;
    padding: 0 20px;
    font-weight: 500;
    margin-bottom: 15px;
}
#offers .offers-items span{
    font-size: 18px;
    font-weight: 600;
    margin-left: 5px;
}